.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;

  color: white;
  @media (max-width: 60rem) {
    flex-direction: column;

}
@media (max-width: 48rem) {

}
  .right{
   //painting


  }
  .left{
    display: flex;
    flex-direction: column;
    .description{
      font-size: 1.5rem;
      @media (max-width: 60rem) {
        font-size: 1.35rem;

    }
    @media (max-width: 48rem) {
        font-size: 1.2rem;

    }
    }


   

  }

  
}
