.button{
    width: 14rem;
    height: 4rem;
    border-radius: 1rem;
    border-width: 0.2rem;
    border-color: black;
    background-color: transparent;
    font-size: 1.5rem;
    &:hover{
        border-color: white;
        color: white;
    }
    
}