.container {
    height: 12vh;
    width: 100%;
    backdrop-filter: blur(50px);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media (max-width: 60rem) {
        font-size: 1.2rem;
        align-items: center;
    }
    @media (max-width: 48rem) {
        font-size: 1rem;
    }
    .wrapper {
    }
    p {
        text-align: center;
    }
    .links {
        list-style: none;
        display: flex;
        gap: 2rem;

        .link {
            text-transform: uppercase;
        }
    }
}
