.container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4rem;

    background-color: transparent;
    font-size: 1.5rem;

    backdrop-filter: blur(10px);

    z-index: 20;
    .wrapper {
        display: flex;
        width: 90vw;
        height: 4rem;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.4rem solid black;
        font-size: 1.5rem;
    }
    .logo {
        margin-left: 5rem;
    }
    nav {
        ul {
            display: flex;
            li {
                list-style: none;
                width: 10rem;
                &:hover {
                    color: green;
                }
            }
        }
    }
}
