.container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4rem;

    background-color: transparent;
    font-size: 1.5rem;

    backdrop-filter: blur(40px);

    z-index: 20;

    .wrapper {
        display: flex;
        width: 90vw;
        height: 4rem;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.4rem solid black;
        font-size: 1.5rem;
        
    }
    .logo {
        margin-left: 5rem;
    }
    nav {
        @media (max-width: 60rem) {
            position: absolute;
            top:55vh;
            right:-50%;
            height: 97vh;
            width: 100vw;
            translate: -50% -50%;
            font-size: 2rem;
            backdrop-filter: blur(40px);
            display: flex;
            align-items: center;
            justify-content: center;
            

         }
        ul {
            display: flex;
            @media (max-width: 60rem) {
                flex-direction: column;
                align-items: center;
                gap: 5vh;
                font-size: 3rem;
               
             }
            
            li {
                list-style: none;
                width: 10rem;
                &:hover {
                    color: white;
                }
            }
        }

    }
}
