
.container{
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    background-color: black;
    width: 100%;
    :nth-child(n){
        :nth-child(1){
            flex-direction: column;
        }
    }
}