
.header{
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    color: white;
    align-self: flex-start;
    @media (max-width: 60rem) {
        font-size: 3rem;
    }
    @media (max-width: 48rem) {
        font-size: 2rem;
    }
  
}