@import './variables.scss'; 

.tag {
    width: fit-content;
   padding: 0 1rem;
   display: flex;
   align-items: center;

    border: 0.2rem solid white;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
    font-size: 1rem;
   

    
   

   
}
